@{
    ViewBag.Title = "CreateWorkFlow";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section head{
}
<div class="content-box" id="usersetting">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            创建流程</h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab">流程设计器</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <style type="text/css">
        .tool
        {
            width: 50px;
            height: 50px;
            background-color: #57a000;
            float: left;
            margin: 10px;
            border-width: 2px;
            border-color: #57a000;
        }
        .tools
        {
            height: 100px;
        }
        .desginer
        {
            width: 100%;
            height: 500px;
            background-color: #e5e5e5;
        }
        .active
        {
            background-color: #ffffff;
        }
    </style>
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <div class="tools">
                <div class="tool content-box active">
                    启示
                </div>
                <div class="tool content-box">
                    结束
                </div>
                <div class="tool content-box">
                    分支
                </div>
                <div class="tool content-box">
                    合并
                </div>
                <div class="tool content-box">
                    选择
                </div>
                <script type="text/javascript">
                    $(".tool").click(function () {
                        $(".tool").removeClass("active");
                        $(this).addClass("active");
                    });
                </script>
            </div>
            <div id="desginer" class="desginer content-box">
                
            </div>
        </div>
        <!-- End #tab1 -->
    </div>
    <!-- End .content-box-content -->
</div>
