@{
    ViewBag.Title = "Flot";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section head{
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/flot/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/flot/jquery.flot.crosshair.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/flot/jquery.flot.categories.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/pages/flot.demo.js")"></script>
    <script type="text/javascript">
        var plot;
    </script>
}
<h2>
    Flot</h2>
<div id="placeholder" style="width: 600px; height: 300px">
    <div id="placeholdertime" style="width: 600px; height: 300px">
    </div>
</div>
<p>
    You can add crosshairs that'll track the mouse position, either on both axes or
    as here on only one.</p>
<p>
    If you combine it with listening on hover events, you can use it to track the intersection
    on the curves by interpolating the data points (look at the legend).</p>
<p id="hoverdata">
</p>
