<div id="footer">
    <small>
        <!-- Remove this notice or replace it with whatever you want -->
        &#169; Copyright 2010 Your Company | Powered by <a href="#">admin templates</a>
        | <a href="#">Top</a> </small>
</div>
