<div id="profile-links">
    欢迎, <a href="#" title="Edit your profile">@ViewData["userName"]</a>, 你有
    <a href="#messages" rel="modal" title="3 Messages">3条 消息</a><br />
    <br />
    <a href="/" title="View the Site">首页</a> | @Html.ActionLink("注销","SignOut","Admin")
</div>
