<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        接收</span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        写公告</span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        写私信</span></a></li>
</ul>
<div class="clear">
</div>
