<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior">
          <serviceMetadata httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="NewBehavior" name="ISEN.MSH.Service.Implements.UserInfoManager">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
            contract="ISEN.MSH.Service.Interfaces.IUserInfoManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9999/UserInfoManager" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
</configuration>