<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<!--spring-->
	<spring>
		<context>
			<!--ISEN.MSH.Dao-->
			<resource uri="assembly://ISEN.MSH.Dao/ISEN.MSH.Dao.Config/Nhibernate.cfg.xml" />
			<resource uri="assembly://ISEN.MSH.Dao/ISEN.MSH.Dao.Config/Nhibernate.Models.cfg.xml" />
			<!--ISEN.MSH.Service-->
			<resource uri="assembly://ISEN.MSH.Service/ISEN.MSH.Service.Config/Service.Base.cfg.xml" />
			<resource uri="assembly://ISEN.MSH.Service/ISEN.MSH.Service.Config/Service.cfg.xml" />
		</context>
	</spring>

	<!--databaseSettings-->
	<databaseSettings>
		<!--SQL Server-->
		<!--local-->
		<add key="provider" value="System.Data.SqlClient" />
		<add key="connectionString" value="server=192.168.132.5;database=ISEN.MSH;uid=sa;pwd=isenhome;" />
		<add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
		<add key="driver_class" value="NHibernate.Driver.SqlClientDriver"/>

		<!--SQLite-->
		<!--<add key="provider" value="System.Data.SQLite" />
	<add key="connectionString" value="Data Source=|DataDirectory|DataBase.db;Version=3;FailIfMissing=False;" />
	<add key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
	<add key="driver_class" value="NHibernate.Driver.SQLite20Driver" />-->
		<!--自动建表-->
		<add key="hbm2ddl.auto" value="update" />
	</databaseSettings>
</configuration>