<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ISEN.MSH.Framework.Mail.Hmail.Service.Accounts">
        <endpoint address="http://192.168.132.5:10000/hmailservice/accounts"
            binding="basicHttpBinding" bindingConfiguration="" contract="ISEN.MSH.Framework.Mail.Hmail.Interface.IAccounts" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
