<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ISEN.MSH.Framework.Mail.Hmail.Service.Accounts" behaviorConfiguration="HmailServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.132.5:10000/hmailservice/accounts"/>
          </baseAddresses>
        </host>
        <endpoint address=""
            binding="basicHttpBinding" contract="ISEN.MSH.Framework.Mail.Hmail.Interface.IAccounts" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HmailServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
