<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--spring-->
  <spring>
    <context>
      <!--ISEN.MSH.Dao-->
      <!--<resource uri="assembly://ISEN.MSH.Dao/ISEN.MSH.Dao.Config/Nhibernate.cfg.xml" />-->
      <!--<resource uri="assembly://ISEN.MSH.Dao/ISEN.MSH.Dao.Config/Nhibernate.Models.cfg.xml" />-->
      <!--ISEN.MSH.Service-->
      <!--<resource uri="assembly://ISEN.MSH.Service/ISEN.MSH.Service.Config/Service.Base.cfg.xml" />-->
      <!--<resource uri="assembly://ISEN.MSH.Service/ISEN.MSH.Service.Config/Service.cfg.xml" />-->
      <!--Framework.Base-->
      <resource uri="assembly://ISEN.MSH.Framework.Service.Base/ISEN.MSH.Framework.Service.Base.Dao/Nhibernate.cfg.xml" />
      <resource uri="assembly://ISEN.MSH.Framework.Service.Base/ISEN.MSH.Framework.Service.Base.Service/Service.Base.cfg.xml" />
      <!--APP.Base.User-->
      <resource uri="assembly://ISEN.MSH.APP.Service.Base/ISEN.MSH.APP.Service.Base.User.Dao/Models.User.cfg.xml" />
      <resource uri="assembly://ISEN.MSH.APP.Service.Base/ISEN.MSH.APP.Service.Base.User.Service/Service.User.cfg.xml" />
      <!--APP.Email-->
      <!--Web-->
      <resource uri="assembly://ISEN.MSH.MVC.Controllers/ISEN.MSH.MVC.Controllers.Config/Controllers.cfg.xml" />
    </context>
  </spring>
  <!--databaseSettings-->
  <databaseSettings>
    <!--SQL Server-->
    <!--local-->
    <add key="provider" value="System.Data.SqlClient" />
    <add key="connectionString" value="server=localhost;database=MSH;uid=sa;pwd=isenhome;" />
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <!--SQLite-->
    <!--<add key="provider" value="System.Data.SQLite" />
		<add key="connectionString" value="Data Source=|DataDirectory|DataBase.db;Version=3;FailIfMissing=False;" />
		<add key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
		<add key="driver_class" value="NHibernate.Driver.SQLite20Driver" />-->
    <!--自动建表-->
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>
  <appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory" />
    <add key="FckProvider" value="WebSite.Core.UserPathFckProvider, WebSite" />
    <add key="IsDebug" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>