<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mail">
      <section name="account" type="System.Configuration.SingleTagSectionHandler"/>
    </sectionGroup>
  </configSections>
  <mail>
    <account username="administrator" password="isenhome" />
  </mail>
</configuration>