
.radius6
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.marl10
{
    margin-left: 10px;
}
.marl20
{
    margin-left: 20px;
}

.pad10
{
    padding: 10px;
}
